{% extends 'base.html' %}

{% block content %}

<div class="central">
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ obj }}"?</p>
        <input class="btn btn-danger" type="submit" value="Confirmar">
        <br><hr>
        <div>
            <a href="{{ request.META.HTTP_REFERER }}" type="button" class="btn-outline-primary">Volver</a>
        </div>
        <!-- "META.HTTP_REFERER" lleva al usuario a la página desde donde vino. -->
    </form>
</div>

{% endblock %}