{% extends 'base.html' %}

{% block title %}Estructura VPM - Home{% endblock %}

{% block content %}
<div>
    <h1>Estructura VPM</h1>
    <p>Acá se admnistra la estructura de ingeniería</p>

    <div>
        {% if request.user.is_authenticated %}
            <div>
                <p>Hola {{user.first_name}} {{user.last_name}}, bienvenido/a! </p>
            </div>
            <div>
                <a href="{% url 'partstr:partcreate' %}">Crear una parte</a>
            </div>
            <br>
            <div>
                <a href="{% url 'partstr:partlist' %}">Búsqueda</a>
                <!-- 'request.user.id' obtiene el id del usuario logueado y lo pasa como argumento -->
            </div>
            <br>
            <div>
                <a href="{% url 'partstr:partlist' %}?p=&u={{request.user}}">Mis Partes</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'partstr:login' %}">Login</a>
            </div>
        {% endif %}
    </div>  
</div>
{% endblock %}