{% extends 'base.html' %}

{% block title %}Estructura VPM - Login{% endblock %}

{% block content %}

<div>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="" class="form-label">Nombre de usuario:</label>
            <input type="text" class="form-control custom-input" name="username">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Contraseña:</label>
            <input type="password" class="form-control custom-input" name="password">
        </div>   
        <button type="submit" class="btn btn-primary">Login!</button>
    </form>
    <div><br><hr>
        <a href="{% url 'partstr:home' %}">Home</a>
    </div>
</div>

{% endblock %}