{% extends 'base.html' %}

{% block content %}

<div class="central">
    <h3>Actualizar Parte</h3>
    <hr>
    <form method="POST" class="row g-3">
        {% csrf_token %}
        <div class="col-md-4">
          <label for="id_level" class="form-label">Nivel:</label>
            <select class="form-select" name="level" id="id_level">
                {% if part.parent %}
                    <option value="{{part.parent.level.id|add:1}}" selected>{{ part.parent.level.id|add:1 }}</option>
                {% else %}
                    <option value="{{part.level.id}}" selected>{{ part.level.id }}</option>
                {% endif %}
                {% for level in levels %}
                    {% if level != part.level %}
                        <option value="{{ level.id }}">{{ level.name }} </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
          <label for="id_pntype" class="form-label">Tipo:</label>
          <select class="form-select" name="pntype" id="id_pntype">
            <option value="{{part.pntype.id}}" selected>{{part.pntype}}</option>
            {% for type in pntypes %}
                {% if type != part.pntype %}
                    <option value="{{ type.id }}">{{ type.name }} </option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label for="id_status" class="form-label">Madurez:</label>
            <select class="form-select" name="status" id="id_status" selected="{{ part.status }}">
                <option value="{{part.status.id}}" selected>{{part.status}}</option>
                {% for partstatus in status %}
                    {% if partstatus != part.status %}
                        <option value="{{ partstatus.id }}">{{ partstatus.name }} </option>
                    {% endif %}
                {% endfor %}
              </select>
        </div>
        <div class="col-md-6">
            <label for="id_partnumber" class="form-label">Número de parte:</label>
            <input type="text" class="form-control custom-input" value="{{ part.partnumber }}" name="partnumber" required id="id_partnumber">
        </div>
        <div class="col-md-6">
            <label for="id_designation" class="form-label">Designación:</label>
            <input type="text" class="form-control custom-input" value="{{ part.designation }}" name="designation" required id="id_designation">
        </div>
        <div class="col-md-12">
            <label for="id_parent" class="form-label">CSI:</label>
            <select class="form-select"  name="parent" id="id_parent">
                <option value="{{part.parent.id}}" selected>{{part.parent}}</option>
                {% for assy in assemblies %}
                    <option value="{{ assy.id }}">{{ assy.partnumber }} </option>
                {% endfor %}
                </select>
        </div>
        <div class="col-md-3">
            <label for="id_mass" class="form-label">Masa (g):</label>
            <input type="number" class="form-control custom-input" value="{{ part.mass }}" name="mass" step="0.1" id="id_mass">
        </div>
        <div class="col-md-3">
            <label for="id_xcg" class="form-label">Xcg (mm):</label>
            <input type="number" class="form-control custom-input" value="{{ part.xcg }}" name="xcg" step="0.1" id="id_xcg">
        </div>
        <div class="col-md-3">
            <label for="id_ycg" class="form-label">Ycg (mm):</label>
            <input type="number" class="form-control custom-input" value="{{ part.ycg }}" name="ycg" step="0.1" id="id_ycg">
        </div>
        <div class="col-md-3">
            <label for="id_zcg" class="form-label">Zcg (mm):</label>
            <input type="number" class="form-control custom-input" value="{{ part.zcg }}" name="zcg" step="0.1" id="id_zcg">
        </div>
        <div class="col-md-4">
            <label for="" class="form-label">Responsable:</label>
            <input type="text" class="form-control custom-input2" value="{{ request.user.username }}" disabled>
        </div>
        <div class="row g-4">
            <div class="col-md-3">
                <input class="btn btn-outline-primary" type="submit" value="Actualizar" role="button">
            </div>
            <div class="col-md-3">
                <a href="{% url 'partstr:partdelete' part.id %}" type="button" class="btn btn-outline-danger">Borrar</a>
            </div>
        </div>
    </form>
    <br>
    <div>
        <a href="{% url 'partstr:partlist' request.user.id %}">Lista de partes</a>
    </div>
    <hr>
    <div>
        <a href="{% url 'partstr:home' %}">Home</a>
    </div>

    <hr>

<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Borrar (modal)
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Atención!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <small>Está seguro que desea eliminar la parte {{part.partnumber}} ?</small>
          <div>
              <small>Esta operación no se puede deshacer</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Borrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Volver</button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}