{% extends 'base.html' %}

{% block title %}Lista de partes{% endblock %}

{% block content %}
<div>
    <div class="main-content">
        {% if user == 0 %}
            <h2>Listado completo.</h2><br>
            <a href="{% url 'partstr:partlist' request.user.id %}">Lista personal</a><br>
        {% else %}
            <h2>Partes de {{ user.username }}</h2><br>
            <a href="{% url 'partstr:partlist' 0 %}">Lista completa</a><br>
        {% endif %}

        <br>
        {% for part in partnumbers %}
        <div>

        </div>
        <div>
            <p>
                <a href="{% url 'partstr:partupdate' part.id%}">{{part.partnumber}}</a>_{{part.designation}}
                <a href="{% url 'partstr:partdelete' part.id%}">Delete!</a>
            </p>
        </div>
        <hr>
        {% endfor %}
        <br>
        <a href="{% url 'partstr:home' %}">Home</a>
    </div>
</div>
{% endblock %}
