{% extends 'base.html' %}

{% block content %}

<div class="central">
    <h3>Crear / Modificar Parte</h3>
    <hr>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <!-- "as_p" method adds the p tag to every field in the form. -->
            <input type="submit" value="Submit">
        </form>
    </div>
    <div>
        <a href="{% url 'partstr:partlist' request.user.id %}">Lista de partes</a>
    </div>
    <hr>
    <div>
        <a href="{% url 'partstr:home' %}">Home</a>
    </div>
</div>

{% endblock content %}