{% extends 'base.html' %}

{% block content %}

<div>
    <p>Este es el partloader</p>
</div>
<div>
    <p>Se pasó la siguiente parte como argumento {{ part.partnumber }}</p>
    <small>Este partloader debería ser reemplazado por un modal</small>
</div>

<!-- Acá van los íconos de pie de página -->
<div class="hstack gap-4">
    <div class="p-2">
        <a href="{% url 'partstr:partlist' %}?p=&u={{request.user}}">
            <i class='bx bx-user'></i>
        </a>
    </div>
    <div class="p-2">
        <a href="{% url 'partstr:home' %}">
            <i class='bx bx-home-alt' ></i>
        </a>
    </div>
</div>

{% endblock %}

