{% extends 'base.html' %}

{% block title %}Estructura VPM - Lista{% endblock %}

{% block content %}
<div class="central">
    {% if user == 0 %}
        <h2>Listado completo.</h2><br>
        <h5>
            <a href="{% url 'partstr:partlist' request.user.id %}">Mi lista</a><br>
        </h5>
    {% else %}
        <h2>Partes de {{ user.first_name }} {{ user.last_name }} </h2><br>
        <h5>
            <a href="{% url 'partstr:partlist' 0 %}">Ver todas</a><br>
        </h5>
    {% endif %}
    <br>

    <small>{{ partnumbers_count }} número(s) de parte.</small><br><br>

    <!-- <div class="card" style="width: 600px;">
        <ul class="list-group list-group-flush" >
            {% for part in partnumbers %}
                    <li class="list-group-item">
                        <a href="{% url 'partstr:partupdate' part.id %}">{{ part.partnumber }}</a>_{{ part.designation }}
                    </li>
            {% endfor %}
        </ul>
    </div> -->


    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">PN</th>
                <th scope="col">Designación</th>
                <th scope="col">Estado</th>
                <th scope="col">Propiedades</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for part in partnumbers %}
            <tr>
                <th scope="row">{{part.partnumber}}</th>
                <th>{{part.designation}}</th>
                <th>{{part.status}}</th>
                <th><a href="{% url 'partstr:partupdate' part.id %}">Acceder</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{% url 'partstr:home' %}">Home</a>
</div>
{% endblock %}
