{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="bx bx-network-chart"></i>
                <span>VPM-Admin</span>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">
            <img src="{% static 'images/foto_mini.png' %}" alt="me" class="user-img">
            <div>
                <p class="bold">Ariel D.</p>
                <p>Admin</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="#">
                    <i class="bx bx-cabinet"></i>
                    <span class="nav-item">Panel</span>
                </a>
                <span class="tooltip">Panel</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-vector"></i>
                    <span class="nav-item">Estructura</span>
                </a>
                <span class="tooltip">Estructura</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-file-find"></i>
                    <span class="nav-item">Buscar</span>
                </a>
                <span class="tooltip">Buscar</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>
<script>
    let btn = document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')

    btn.onclick = function(){
        sidebar.classList.toggle('active');
    }
</script>
</html>