{% load static %}

<nav class="sidebar close" id="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="{% static 'images/foto_mini.png' %}" alt="">
            </span>

            <div class="text logo-text">
                <span class="name">Ariel</span>
                <span class="role">Master Admin</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            {% if request.user.is_authenticated %}
                <form method="GET" action="{% url 'partstr:partlist' %}">
            {% else %}
                <form method="GET" action="{% url 'partstr:login' %}">
            {% endif %}
                    <li class="search-box">
                        <i class='bx bx-search icon'></i>
                        <input type="text" name="p" placeholder="Número de parte">
                    </li>
                </form>
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="{% url 'partstr:home' %}">
                        <i class='bx bx-home-alt icon' ></i>
                        <span class="text nav-text">Home</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'partstr:structure' %}">
                        <i class='bx bx-sitemap icon'></i>
                        <span class="text nav-text">Estructura</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Notifications</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-pie-chart-alt icon' ></i>
                        <span class="text nav-text">Stats</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="{% url 'partstr:logout' %}">
                    <i class='bx bx-log-out icon' ></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Modo Oscuro</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>

        </div>
    </div>
</nav>